// Imports
@import "reset.scss";

// Global styles
* {
  font-family: Roboto;
}

// Container for the main layout
.container {
  max-width: 1196px;
  margin: 0 auto;
  padding: 0 10px;
}

// Header section
header {
  max-height: 64px;
  max-width: 1512px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px;
  margin: 0 auto;
}

// Left section of the header
.header-left-section {
  display: flex;
  align-items: center;
  gap: 40px;
}

// Search container
.search-container {
  display: flex;
  align-items: center;
  border: 1px solid rgb(217, 217, 217);
  border-radius: 8px;
  overflow: hidden;

  // Search icon
  .search-lupo {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 20px;
      height: 20px;
    }
  }

  // Input fields
  input {
    padding: 12px 14px;
    font-size: 16px;
    outline: none;
    line-height: 19px;
  }

  // Search input field
  .search-input {
    padding-left: 8px;
  }

  // Location input field
  .location-input {
    border-left: 1px solid rgb(217, 217, 217);
    padding-left: 15px;
  }

  // Search button
  .search-button {
    background-color: rgb(246, 88, 88);
    height: 100%;
    padding: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 16px;
      height: 16px;
    }

    &:hover {
      background-color: rgb(220, 70, 70);
    }
  }
}

// Right section of the header
.header-right-section {
  display: flex;
  align-items: center;
  gap: 22px;
}

// Language button
.language-button {
  display: flex;
  align-items: center;
  gap: 8px;

  button {
    background-color: transparent;
    font-weight: 500;
    line-height: 20px;
    border: none;
    cursor: pointer;
  }
}

// Log in button
.logIn {
  background-color: transparent;
  border: none;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
}

// Sign up button
.signUp {
  width: 83.13px;
  height: 36px;
  border-radius: 8px;
  background-color: rgb(0, 121, 138);
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 450;
  line-height: 20px;
}

// -------------------------------------------------------

// Main container for the content
.main-container {
  margin: 71px 0 98px 0;
  display: flex;
  align-items: center;
  gap: 55px;
}

// Main title
.main-title {
  margin-bottom: 25px;
  max-width: 600px;
  font-size: 42px;
  font-weight: 600;
  line-height: 52px;
}

// Main text
.main-text {
  margin-bottom: 24px;
  max-width: 580px;
  font-size: 16px;
  line-height: 24px;
}

// Main button
.main-button {
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 16px;
  line-height: 24px;
  color: rgb(255, 255, 255);
  background: rgb(0, 121, 138);
}

// -------------------------------------------------------

// Events section
.events {
  margin: 24px 0 40px 0;
}

// Events header
.events-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
}

// Events title
.events-title {
  display: flex;
  align-items: center;
  gap: 20px;

  p {
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
  }

  button {
    color: rgb(0, 121, 138);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    padding: 10px 40px 8px 20px;

    border-radius: 8px;
    background-color: rgba(151, 202, 209, 0.12) !important;
    background: url("/img/events/events-title-button.svg") no-repeat right
      center;
    background-size: 22px;
  }
}

// See all link
.see-all {
  color: rgb(0, 121, 138);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

// Events list
.events-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 29px;
  grid-row-gap: 36px;
  margin-bottom: 60px;
}

// Events item
.events-item {
  img {
    max-width: 272px;
    max-height: 153px;
    margin-bottom: 12px;
  }
}

.events-item-info {
  width: 272px;
  height: 214px;
}

// Events item title
.events-item-title {
  max-width: 235px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 18px;
}

// Events item type
.events-item-type {
  color: rgb(112, 112, 112);
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 18px;
}

// Events item date
.events-item-date {
  background: url("/img/events/items/kalender.svg") no-repeat left center;
  background-size: 24px;
  padding-left: 30px;
  line-height: 20px;
  letter-spacing: -0.35px;
  text-transform: uppercase;
  margin-bottom: 12px;
}

// Events item footer
.events-item-footer {
  display: flex;
  align-items: center;
  gap: 20px;
}

// Events item going
.events-item-going {
  background: url("/img/events/items/going.svg") no-repeat left center;
  background-size: 24px;
  padding-left: 30px;
  font-size: 16px;
  line-height: 24px;
}

// Events item price
.events-item-price {
  background: url("/img/events/items/ticket.svg") no-repeat left center;
  background-size: 24px;
  padding-left: 32px;
  font-size: 16px;
  line-height: 24px;
}

// Upcoming events list
.events-upcoming-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 29px;
  grid-row-gap: 0px;
}

// -------------------------------------------------------

// Join container section
.join-container {
  border-radius: 8px;
  background: rgba(151, 202, 209, 0.08);

  display: flex;
  align-items: center;
  gap: 75px;

  padding: 20px 56px;
}

// Join title
.join-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;

  margin-bottom: 16px;
}

// Join text
.join-text {
  font-size: 16px;
  line-height: 24px;

  margin-bottom: 16px;
}

// Join button
.join-button {
  border-radius: 8px;
  background: rgb(227, 35, 89);
  color: rgb(255, 255, 255);

  padding: 10px 67px;
}

// Join image
.join-image {
  max-width: 341px;
  max-height: 196px;
}

// --------------------------------------------------------

// Categories section
.categories {
  // Margin for spacing below the section
  margin-bottom: 64px;
}

// Title styles for the categories section
.categories-title {
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 24px;
}

// List container for categories
.categories-list {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

// Individual category item
.categories-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 135px;
  height: 112px;
  padding: 23px 0 16px;
  border-radius: 8px;
  background: rgba(151, 202, 209, 0.08);

  // Image inside category item
  img {
    max-width: 20px;
  }

  // Title inside category item
  h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
  }
}

// --------------------------------------------------------

// Cities section
.cities {
  margin-bottom: 64px;
}

// Title container for the cities section
.cities-title {
  h2 {
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 16px;
  }

  p {
    color: rgb(112, 112, 112);
    font-size: 16px;
    line-height: 24px;
  }

  margin-bottom: 28px;
}

// List container for cities
.cities-list {
  display: flex;
  justify-content: space-between;
}

// Individual city item
.cities-item {
  img {
    max-width: 205px;
    margin-bottom: 24px;
  }

  p {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
  }
}

// ----------------------------------------------------

// How section container
.how {
  margin-bottom: 64px;
}

// How items container
.how-items {
  display: flex;
  justify-content: center;
  gap: 32px;
}

// Individual how item
.how-item {
  max-width: 580px;
  display: flex;
  align-items: flex-start;
  gap: 24px;
  padding: 32px 129px 24px 24px;
  border-radius: 8px;
  background: rgba(151, 202, 209, 0.08);

  img {
    max-width: 40px;
  }
}

// How title container
.how-title {
  h2 {
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 24px;
  }
}

// How item info container
.how-item-info {
  display: flex;
  flex-direction: column;
  gap: 16px;

  h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
  }
  a {
    color: rgb(0, 121, 138);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }
}

//----------------------------------------------------------

// Friendship section container
.friendship {
  margin-bottom: 53.5px;
}

// Friendship title container
.friendship-title {
  h2 {
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 16px;
  }
  p {
    color: rgb(112, 112, 112);
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 28px;
  }
}

// Friendship items container
.firendship-items {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

// Individual friendship item
.friendship-item {
  img {
    max-width: 376px;
    margin-bottom: 24px;
  }
  h2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 12px;
  }
  p {
    color: rgb(112, 112, 112);
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
  }
  a {
    color: rgb(0, 121, 138);
    font-size: 16px;
    line-height: 24px;
  }
}
