// Reset styles
@import "reset.scss";

// Global styles
* {
  font-family: Roboto;
}

// Main container for layout
.container {
  max-width: 1196px;
  margin: 0 auto;
  padding: 0 10px;
}

// Header section
.header {
  max-width: 1512px;
  padding: 11px 50px 11px 24px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; // Allows wrapping of elements
}

/* Navbar styles */
.navbar {
  display: flex;
  align-items: center;
  width: 100%;
}

/* Logo styles */
.logo {
  margin-right: 40px;
  max-height: 40px;
}

/* Search container styles */
.nav-wrapper {
  display: flex;
  flex-grow: 1;
  max-width: 600px;
  position: relative;
  align-items: center;
  margin-top: 10px; // Top margin for the form
}

.search-icon {
  width: 22px;
  height: 22px;
  position: absolute;
  left: 12px;
  top: 25%;
}

.nav-input {
  border: 1px solid #d9d9d9;
  border-radius: 8px 0 0 8px;
  width: 300px;
  height: 42px;
  padding-left: 40px;
  flex-grow: 1;
  min-width: 100px;
}

.nav-input.right {
  border-left: 1px solid #d9d9d9;
  border-radius: 0 8px 8px 0;
}

.nav-search-btn {
  border-radius: 0 8px 8px 0;
  width: 42px;
  height: 42px;
  background: #f65858;
  cursor: pointer;
  border: none;
  padding: 10px;
  position: absolute;
  right: 0;
  flex-shrink: 0;
  transition: all 0.3s ease;
}

.nav-search-btn:hover {
  background-color: #f33b3b;
}

/* Right Section */
.nav-wrapper-right {
  display: flex;
  align-items: center;
  gap: 22px;
  margin-left: auto;
}

/* Language button styles */
.language-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #212121;
  background: transparent;
  border: none;
  cursor: pointer;
}

/* Login Button */
.login-btn {
  font-size: 14px;
  font-weight: 500;
  color: #212121;
  background: transparent;
  border: none;
  cursor: pointer;
}

/* Signup Button */
.signup-btn {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background: #00798a;
  border-radius: 8px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.signup-btn:hover {
  background: #f65858;
}

// Left section of the header
.header-left-section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

// Search container
.search-container {
  display: flex;
  align-items: center;
  border: 1px solid rgb(217, 217, 217);
  border-radius: 8px;
  overflow: hidden;

  // Search icon
  .search-lupo {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 20px;
      height: 20px;
    }
  }

  // Input fields
  input {
    padding: 12px 14px;
    font-size: 16px;
    outline: none;
    line-height: 19px;
  }

  // Search input field
  .search-input {
    padding-left: 8px;
  }

  // Location input field
  .location-input {
    border-left: 1px solid rgb(217, 217, 217);
    padding-left: 15px;
  }

  // Search button
  .search-button {
    background-color: rgb(246, 88, 88);
    height: 100%;
    padding: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 16px;
      height: 16px;
    }

    &:hover {
      background-color: rgb(220, 70, 70);
    }
  }
}

// Right section of the header
.header-right-section {
  display: flex;
  align-items: center;
  gap: 22px;
}

// Language button
.language-button {
  display: flex;
  align-items: center;
  gap: 8px;

  button {
    background-color: transparent;
    font-weight: 500;
    line-height: 20px;
    border: none;
    cursor: pointer;
  }
}

// Log in button
.logIn {
  background-color: transparent;
  border: none;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
}

// Sign up button
.signUp {
  width: 83.13px;
  height: 36px;
  border-radius: 8px;
  background-color: rgb(0, 121, 138);
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 450;
  line-height: 20px;
}

// -------------------------------------------------------

// Main container for the content
.main-container {
  margin: 71px 0 98px 0;
  display: flex;
  align-items: center;
  gap: 55px;

  img {
    max-width: 379px;
    height: auto;
  }
}

// Main title
.main-title {
  margin-bottom: 25px;
  max-width: 600px;
  font-size: 42px;
  font-weight: 600;
  line-height: 52px;
}

// Main text
.main-text {
  margin-bottom: 24px;
  max-width: 580px;
  font-size: 16px;
  line-height: 24px;
}

// Main button
.main-button {
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 16px;
  line-height: 24px;
  color: rgb(255, 255, 255);
  background: rgb(0, 121, 138);
}

// -------------------------------------------------------

// Events section
.events {
  margin: 24px 0 40px;
}

// Events header
.events-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
}

// Events title
.events-title {
  display: flex;
  align-items: center;
  gap: 20px;

  p {
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
  }

  button {
    color: rgb(0, 121, 138);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    padding: 10px 40px 8px 20px;

    border-radius: 8px;
    background-color: rgba(151, 202, 209, 0.12) !important;
    background: url("/img/events/events-title-button.svg") no-repeat right
      center;
    background-size: 22px;
  }
}

// See all link
.see-all {
  color: rgb(0, 121, 138);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

// Events list
.events-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(272px, 1fr));
  grid-column-gap: 29px;
  grid-row-gap: 36px;
  margin-bottom: 60px;
}

// Events item
.events-item {
  img {
    max-width: 272px;
    max-height: 153px;
    margin-bottom: 12px;
  }
}

// Events item title
.events-item-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 18px;
}

// Events item type
.events-item-type {
  color: rgb(112, 112, 112);
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 18px;
}

// Events item date
.events-item-date {
  background: url("/img/events/items/kalender.svg") no-repeat left center;
  background-size: 24px;
  padding-left: 30px;
  line-height: 20px;
  letter-spacing: -0.35px;
  text-transform: uppercase;
  margin-bottom: 12px;
}

// Events item footer
.events-item-footer {
  display: flex;
  align-items: center;
  gap: 20px;
}

// Events item going
.events-item-going {
  background: url("/img/events/items/going.svg") no-repeat left center;
  background-size: 24px;
  padding-left: 30px;
  font-size: 16px;
  line-height: 24px;
}

// Events item price
.events-item-price {
  background: url("/img/events/items/ticket.svg") no-repeat left center;
  background-size: 24px;
  padding-left: 32px;
  font-size: 16px;
  line-height: 24px;
}

// Upcoming events list
.events-upcoming-list {
  display: grid;
  align-items: stretch;
  grid-template-columns: repeat(auto-fill, minmax(272px, 1fr));
  grid-column-gap: 29px;
  grid-row-gap: 0px;
}

// -------------------------------------------------------

// Join container section
.join-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 56px;
  border-radius: 8px;
  background: rgba(151, 202, 209, 0.08);
}

// Join info (title, text, and button)
.join-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.join-title.--hidden {
  display: none;
}

// Join title
.join-title {
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
}

// Join text
.join-text {
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}

// Join button
.join-button {
  border-radius: 8px;
  background: rgb(227, 35, 89);
  color: rgb(255, 255, 255);
  padding: 10px 67px;
}

// Join image
.join-image {
  max-width: 341px;
  max-height: 196px;
  height: auto;
}
//-------------------------------------------------------

// Categories section
.categories {
  // Margin for spacing below the section
  margin-bottom: 64px;
}

// Title styles for the categories section
.categories-title {
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 24px;
}

// List container for categories
.categories-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

// Individual category item
.categories-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 135px;
  height: 112px;
  padding: 23px 0 16px;
  border-radius: 8px;
  background: rgba(151, 202, 209, 0.08);

  // Image inside category item
  img {
    width: 20px;
  }

  // Title inside category item
  h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
  }
}

// --------------------------------------------------------

// Cities section
.cities {
  margin-bottom: 64px;
}

// Title container for the cities section
.cities-title {
  h2 {
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 16px;
  }

  p {
    color: rgb(112, 112, 112);
    font-size: 16px;
    line-height: 24px;
  }

  margin-bottom: 28px;
}

// List container for cities
.cities-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 35px;
}

// Individual city item
.cities-item {
  img {
    max-width: 205px;
    height: auto;
    margin-bottom: 24px;
  }

  p {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
  }
}

// ----------------------------------------------------

// How section container
.how {
  margin-bottom: 64px;
}

// How items container
.how-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

// Individual how item
.how-item {
  max-width: 580px;
  display: flex;
  align-items: flex-start;
  gap: 24px;
  padding: 32px 112px 24px 24px;
  border-radius: 8px;
  background: rgba(151, 202, 209, 0.08);

  img {
    max-width: 40px;
  }
}

// How title container
.how-title {
  h2 {
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 24px;
  }
}

// How item info container
.how-item-info {
  display: flex;
  flex-direction: column;
  gap: 16px;

  h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
  }
  a {
    color: rgb(0, 121, 138);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }
}

//----------------------------------------------------------

// Friendship section container
.friendship {
  margin-bottom: 53.5px;
}

// Friendship title container
.friendship-title {
  h2 {
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 16px;
  }
  p {
    color: rgb(112, 112, 112);
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 28px;
  }
}

// Friendship items container
.firendship-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

// Individual friendship item
.friendship-item {
  img {
    max-width: 376px;
    height: auto;
    margin-bottom: 24px;
  }
  h2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 12px;
  }
  p {
    color: rgb(112, 112, 112);
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
    max-width: 370px;
  }
  a {
    color: rgb(0, 121, 138);
    font-size: 16px;
    line-height: 24px;
  }
}
//----------------------------------------------------------

// Footer styles
footer {
  background: rgb(33, 33, 33);
  padding: 28px 0 30px;
}

// Footer container
.footer-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

// Floor 4: Call-to-action section
.floor4 {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgb(112, 112, 112);

  h2 {
    color: rgb(246, 247, 248);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 3%;
  }

  button {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 5%;
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 6px;
    padding: 10px 14px;
    cursor: pointer;
  }
}

// Floor 3: Links section
.floor3 {
  display: flex;
  gap: 40px;
}

// Floor 3 item: Individual link groups
.floor3-item {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-bottom: 12px;
  width: 374px;

  h3 {
    color: rgb(246, 247, 248);
    font-size: 16px;
    font-weight: 600; // Updated to match title consistency
    line-height: 24px;
  }

  a {
    color: rgb(197, 196, 196);
    line-height: 20px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

// Floor 2: Social media and app links
.floor2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Floor 2 follow section: Social media links
.floor2-follow {
  h3 {
    color: rgb(246, 247, 248);
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 14.5px;
  }

  a {
    img {
      max-width: 30px;
    }
  }
}

// Follow links container
.follow-links {
  display: flex;
  align-items: center;
  gap: 37px;
}

// App download links
.get-it-on {
  a {
    padding-left: 20px;

    img {
      max-width: 120px;
    }
  }
}

// Floor 1: Legal links section
.floor1 {
  display: flex;
  align-items: center;
  gap: 24px;

  p {
    color: rgb(255, 255, 255);
    line-height: 20px;
  }

  a {
    color: rgb(197, 196, 196);
    line-height: 20px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 393px) {
  .header {
    max-width: 364px;
    padding: 6px 14px;
    margin: auto;
  }

  .navbar {
    justify-content: space-between; // Align logo and right section
    align-items: center;
  }

  .nav-wrapper {
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
  }

  .search-icon {
    display: none; // Hide the left search icon
  }

  .nav-input {
    width: 100%;
    border-radius: 8px;
  }

  .nav-input.right {
    display: none;
  }

  .nav-wrapper-right {
    gap: 8px;
  }

  .language-btn,
  .login-btn,
  .signup-btn {
    font-size: 12px;
  }

  .signup-btn {
    padding: 4px 8px;
    border-radius: 6px;
  }
  .search-container {
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
  }

  // Hide location input on small screens
  .location-input {
    display: none;
  }

  // Adjust search input and button for small screens
  .search-input {
    width: 100%;
  }

  .search-button {
    width: 100%;
  }

  // Main container adjustments
  .main-container {
    flex-direction: column;
    gap: 0;
    margin-bottom: 20px;

    img {
      max-width: 220px;
    }
  }

  // Main title adjustments
  .main-title {
    font-size: 25px;
    font-weight: 700;
    line-height: 30.5px;
    margin-bottom: 20px;
  }

  // Main text adjustments
  .main-text {
    max-width: 365px;
    color: rgb(0, 0, 0);
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 10px;
  }

  // Hide main button on small screens
  .main-button {
    display: none;
  }

  //   --------------------------------------------------------

  // Events title adjustments
  .events-title {
    gap: 4px;
    p {
      font-size: 20px;
      font-weight: 600;
      line-height: 24.67px;
    }
    button {
      font-size: 13.71px;
      line-height: 16.45px;
    }
  }

  // Hide "See all" link on small screens
  .events-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(272px, 1fr));
    grid-column-gap: 29px;
    grid-row-gap: 30px;
    margin-bottom: 40px;
  }

  .see-all {
    display: none;
  }

  // Events item
  .events-item {
    display: flex;
    gap: 7px;

    border-top: 1px solid rgb(217, 217, 217); // Добавляем линию сверху
    padding-top: 10px; // Добавляем отступ сверху, чтобы линия не прилегала к содержимому
    img {
      max-width: 98px;
      max-height: 55px;
      margin-bottom: 0;
    }
  }

  .events-item-info {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
  }

  // Events item title
  .events-item-title {
    order: 2;
    font-size: 10px;
    font-weight: 500;
    line-height: 15px;
    margin-bottom: 3px;
  }

  // Events item type
  .events-item-type {
    order: 3;
    font-size: 9;
    font-weight: 400;
    line-height: 13px;
    margin-bottom: 1px;
  }

  // Events item date
  .events-item-date {
    order: 1;
    color: rgb(124, 111, 80);
    background: none;
    padding-left: 0;
    line-height: 13px;
    letter-spacing: 0;
    text-transform: uppercase;
    margin-bottom: 2px;
  }

  // Events item footer
  .events-item-footer {
    display: none;
  }

  // Upcoming events list
  .events-upcoming-list {
    grid-row-gap: 30px;
  }

  //   --------------------------------------------------------

  // Join container adjustments
  .join-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    gap: 0;
  }

  // Join title adjustments
  .join-title.--hidden {
    display: block;
    text-align: left;
    font-size: 20px;
  }

  .join-title {
    display: none;
  }

  // Join image adjustments
  .join-image {
    order: 2;
    max-width: 238px;
    height: auto;
    margin: 0 auto;
  }

  // Join info adjustments
  .join-info {
    order: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }

  // Categories title adjustments
  .categories-title {
    font-size: 20px;
  }

  // Cities section adjustments
  .cities {
    margin-bottom: 43px;
  }

  // Cities title adjustments
  .cities-title {
    h2 {
      font-size: 20px;
      margin-bottom: 10px;
    }

    p {
      color: rgb(112, 112, 112);
      font-size: 12px;
      line-height: 24px;
    }

    margin-bottom: 8px;
  }

  // Cities item adjustments
  .cities-item {
    img {
      max-width: 153px;
      height: auto;
      margin-bottom: 24px;
    }
    p {
      font-size: 14.94px;
      line-height: 20.92px;
    }
  }

  // How section adjustments
  .how {
    margin-bottom: 17px;
  }

  // How items container adjustments
  .how-items {
    gap: 12px;
  }

  // Individual how item adjustments
  .how-item {
    max-width: 360px;
    gap: 15px;
    padding: 20px 20px 15px 15px;
    border-radius: 8px;
    background: rgba(151, 202, 209, 0.08);

    img {
      max-width: 25px;
    }
  }

  // How title adjustments
  .how-title {
    h2 {
      font-size: 20px;
      margin-bottom: 18px;
    }
  }

  // How item info adjustments
  .how-item-info {
    gap: 10px;

    h3 {
      font-size: 12px;
      line-height: 15px;
    }
    p {
      font-size: 10px;
      line-height: 15px;
    }
    a {
      font-size: 10px;
      line-height: 15px;
    }
  }

  // Friendship title adjustments
  .friendship-title {
    h2 {
      font-size: 20px;
      margin-bottom: 25px;
    }
    p {
      display: none;
    }
  }

  // Friendship item adjustments
  .friendship-item {
    h2 {
      font-size: 18px;
      font-weight: 600;
      line-height: 28px;
      margin-bottom: 12px;
    }
    p {
      font-size: 12px;
      line-height: 23px;
      max-width: 355px;
    }
    a {
      font-size: 12px;
      line-height: 23px;
    }
  }

  // Footer adjustments
  footer {
    padding: 20px 0 30px;
  }

  // Floor 4 adjustments
  .floor4 {
    gap: 12px;
  }

  // Floor 3 adjustments
  .floor3 {
    display: flex;
    gap: 40px;
  }

  // Floor 3 item adjustments
  .floor3-item {
    gap: 9px;

    h3 {
      font-weight: 400;
    }
  }

  // Floor 2 adjustments
  .floor2 {
    margin-bottom: 30px;
  }

  // Floor 2 follow section adjustments
  .floor2-follow {
    a {
      img {
        max-width: 25px;
      }
    }
  }

  // Hide app download links on small screens
  .get-it-on {
    display: none;
  }

  // Floor 1 adjustments
  .floor1 {
    a {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column; // Switch to vertical layout
    align-items: flex-start; // Align elements to the left
    max-width: 728px;
    padding: 11px 20px;
    margin: auto;
  }

  .navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; // Align logo and right section
    width: 100%;
  }

  .nav-wrapper {
    flex-direction: column; // Stack elements vertically
    align-items: stretch;
    width: 100%;
    gap: 10px;
    order: 1;
    margin: 10px auto;
  }

  .search-icon {
    display: none; // Hide the left search icon
  }

  .nav-input {
    width: 100%; // Make input fields full width
  }

  .nav-input.right {
    display: none; // Hide the second input field
  }

  .nav-wrapper-right {
    width: auto;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .language-btn,
  .login-btn,
  .signup-btn {
    font-size: 12px; // Reduce font size
  }

  .signup-btn {
    padding: 6px 12px; // Adjust padding
  }
}

